body {
	padding-top: 80px;
	padding-bottom: 20px;
}

#bottom-text {
	text-align: center;
}

.post-actions {
	float: right;
	font-size: 20px;
}

.post-meta {
	font-size: 18px;
}

.post-edit {
	font-style: italic;
	float: right;
}